<div id="h">
    <div class="logo">
        <h2 class="headerText">Software Developer, <br> 8 Years and counting...</h2>
        <span class="menuButton pull-left" onclick="openNav()">&#9776;</span>
    </div>
    <!--/logo-->
    <div class="container centered">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Hello, my name is <b>Abhimanyu Singh</b>.<br/>I create, innovate and solve complex problems</h1>
            </div>
        </div>
        <!--/row-->

        <div class="row mt">
            <div class="col-sm-2">
                <i class="ion-coffee"></i>
                <h3>Java/J2EE, Certified Programmer</h3>
            </div>
            <!--/col-md-4-->
            <div class="col-sm-2">
                <i class="ion-ios7-browsers"></i>
                <h3>Web Development</h3>
            </div>

            <div class="col-sm-2">
                <i class="ion-ios7-people"></i>
                <h3>Agile/SCRUM Methodologies</h3>
            </div>
            <!--/col-md-4-->
            <!--/col-md-4-->
            <!--/col-md-4-->
            <div class="col-sm-2">
                <i class="ion-document-text"></i>
                <h3>Comp. Sci. Graduate</h3>
            </div>
            <div class="col-sm-2">
                <i class="ion-ios7-lightbulb"></i>
                <h3>Innovation</h3>
            </div>
            <!--/col-md-4-->

            <div class="col-sm-2">
                <i class="ion-thumbsup"></i>
                <h3>Experienced Professional</h3>
            </div>
            <!--/col-md-4-->

        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--H-->