<div class="container ptb">
    <div class="row">
        <h2 class="centered mb">I develop beautiful websites & quality middleware<br/>that empower your Organization.</h2>
        <div class="col-md-12">
            <p>Dynamic and well-qualified Software Developer with 8 years of experience collaborating with colleagues to design
                highly functional applications. Excellent troubleshooting skills, improving system operation through testing
                and analysis to identify and correct defects. Strong contributor to all phases of software development lifecycle,
                with proven leadership skills managing teams working on complex assignments. Fluent in Scrum and Agile frameworks,
                ensuring staff compliance with company standards, client requirements, and project specifications.
            </p>
        </div>
    </div>
    <!--/row-->
</div>
<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img src="assets/img/items.png" class="img-responsive" alt="">
        </div>
    </div>
    <!--/row-->
</div>
<!--/.container-->