<div id="sep">
    <div class="container-fluid">
        <div class="row centered">
        </div>
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2">
                <h1>I live in the amazing New York City</h1>
                <h3 class="mb">Please, feel free to reach out to me for more Information</h3>
                <button class="btn btn-conf btn-clear">Request for Information</button>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--/.sep-->

<div id="f">
    <div class="container">
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2">
                <a href="https://twitter.com/abhie_r_singh" target="_blank"><i class="ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/in/abhiesingh/" target="_blank"><i class="ion-social-linkedin"></i></a>
                <a href="https://www.instagram.com/abhie.singh/" target="_blank"><i class="ion-social-instagram"></i></a>
                <a href="https://www.facebook.com/abhieRsingh" target="_blank"><i class="ion-social-facebook"></i></a>
            </div>
            <!--/col-md-8-->
        </div>
    </div>
    <!--/container-->
</div>
<!--/.F-->