<div id="workExp">
    <div class="container">
        <div class="row centered">
            <h2>Work Experience</h2>
             <button type="button" class="btn btn-primary pull-right showMore" (click)="toggleShowState()">{{buttonText}}</button>
             <hr>   
            <!--/col-md-8-->
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <b> JPMorgan, NY/NJ, USA &nbsp;&nbsp;&nbsp;&nbsp;November, 2015-Current</b><br>
                <i>Application Developer: Java</i> &nbsp; Asset Management - Tech<br>
                <hr>
                <ul>
                    <li>Headed web application development using Spring, Hibernate, Angular JS, Bootstrap and ExtJS as team Scrum
                        Master. Actively participated in SCRUM meetings and collaborated with Agile Coach. Oversaw dual-site
                        team and Agile task board using Agile GreenHopper to communicate accurate project status to senior
                        management. Resolved issues and defects.</li>
                    <li>Developed Proof of Concept (POC) for web application to spearhead project success during early development
                        stages and successfully delivered project till live production state.</li>
                    <li *ngIf="showMore === true">Researched relevant technologies for project development, including improving code quality index management
                        using SONAR tool for improving security, and Crucible for code review to minimize bugs.</li>
                    <li *ngIf="showMore === true"> Earned Peer Honor Award and completed JPMC Java L1 certification and Technology University’s Java Developer
                        Curriculum (in house).</li>
                    <li *ngIf="showMore === true">Recognized by senior management for complying with company protocol to ensure seamless product release,
                        as well as fostering positivity from initially reluctant team members in adhering to Agile Development.</li>
                </ul>

                <hr>
                <u>Technologies:</u>
                Java; HTML, JSP, ExtJS, Angular, Bootstrap, Spring; Sybase, Oracle; Eclipse IDE, Agile GreenHopper; Linux, Windows.
            </div>
            <div class="col-md-6">
                <b> Oracle Financial Software Systems, Mumbai, India &nbsp;&nbsp;&nbsp;&nbsp;October, 2010-September, 2011</b><br>
                <i>Software Consultant</i><br>
                <hr>
                <ul>
                    <li>Led application development and implementation by interacting with clients and business decision makers
                        to attain accurate project requirements. Designed plans based on client needs.
                    </li>
                    <li>Promoted team in delivering projects on-time, as well as in understanding requirements, by creating solid
                        functional & technical specifications.
                    </li>
                    <li *ngIf="showMore === true">Gained positive feedback and project development funding by creating mock ups and POC.
                    </li>
                    <li *ngIf="showMore === true">Designed specialized banking customer service application using Java and Oracle ADF framework.
                    </li>
                </ul>
                <hr>

                <u>Technologies:</u>
                Java; Oracle ADF, JavaScript, JQuery, HTML, JSP, Servlets; Oracle; IBM Rational, Star UML, JDeveloper, PL SQL Developer;
                Linux, Windows.
            </div>
            <!--/col-md-8-->
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 ">
                <b> JPMorgan, Mumbai, India &nbsp;&nbsp;&nbsp;&nbsp;September, 2011-January, 2015</b><br>
                <i>Application Developer: Java</i> &nbsp; Cards Technology<br>
                <hr>
                <ul>
                    <li>Interacted with the business and clients on various forums to discuss business requirements and status
                        of the project, discussed queries regarding the functionalities and timeline.
                    </li>
                    <li>Designed and developed new modules as well as enhanced existing functionalities in project using Core
                        Java, J2EE, JMS, EJB, WebServices, Spring and Struts.
                    </li>
                    <li>Supported QA and UAT team for end to end functionality testing.
                    </li>
                    <li *ngIf="showMore === true">Involved in planning as well as supporting migration and upgrade of various software and hardware components
                        used by applications.
                    </li>
                    <li *ngIf="showMore === true">Worked on production issues and supported application outages resulting in minimal impact to business.
                    </li>
                    <li *ngIf="showMore === true">Headed tech refresh projects, created plan for tech refresh projects, planned and managed L2 support
                        resources rotation for project.
                    </li>
                    <li *ngIf="showMore === true">Conducted knowledge transfer session for new team members and created required documents to share knowledge
                        amongst team members.
                    </li>
                </ul>
                <hr>

                <u>Technologies:</u>
                Java, J2EE, Struts, Spring, Servlet, JSP, Ibatis, HTML, XML, EJB, Web Services, JSTL, CSS and JavaScript, Eclipse IDE, IBM
                Tivoli, Wily Introscope, HP ALM, Weblogic, Unix, Cyberark EPV

            </div>
            <div class="col-md-6">
                <b> Patni Computers <i>(Capgemini)</i> , Mumbai, India                                                                  &nbsp;&nbsp;&nbsp;&nbsp;September, 2011-January, 2015</b><br>
                <i>Associate Software Engineer for Client GE-NBCU</i><br>
                <hr>
                <ul>
                    <li>Developed and enhanced web applications for GE NBCU using Java, J2EE, Struts, Hibernate, and JavaScript.
                        Authored functional & technical specification documents. Supported new team members by hosting KT
                        sessions.
                    </li>
                    <li>Forged strong client relationships and team confidence by conducting weekly status reports and review
                        meetings.

                    </li>
                    <li *ngIf="showMore === true">Developed web application and migrated project to new servers / databases with zero defects and minimal
                        business impact by performing ongoing code reviews and test cases.
                    </li>
                    <li *ngIf="showMore === true">Safeguarded firm and client reputation by proactively resolving major outages.
                    </li>
                    <li *ngIf="showMore === true">Actively contributed to ensuring quality outcomes resulting in recognition with Best Team Award.
                    </li>
                </ul>
                <hr>
                <u>Technologies:</u>
                Java; Struts, Hibernate, JavaScript, HTML, JSP, Servlet; Oracle, MSSQL; Eclipse; Platforms: Linux, UNIX.
            </div>
            <!--/col-md-8-->
        </div>
        <!--/row-->
    </div>
    <!--/.container-->
    <!-- portfolio container -->
    <!--/container-->
</div>
<!--/.G-->