<div id="g">
    <div class="container">
        <div class="row centered">
            <h2>Check some of my latest works.</h2>
            <div class="col-md-8 col-md-offset-2">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.<br/>It has roots in a piece of classical
                    Latin literature<br/>from 45 BC, making it over 2000 years old.</p>

            </div>
            <!--/col-md-8-->
        </div>
        <!--/row-->
    </div>
    <!--/.container-->
    <!-- portfolio container -->

    <div class="container mt">
        <div class="row clients centered">
            <p class="mb">Some clients that I had the pleasure to working for.</p>
            <div class="col-sm-2 col-sm-offset-1">
                <img src="assets/img/client1.png" alt="">
            </div>
            <div class="col-sm-2">
                <img src="assets/img/client3.png" alt="">
            </div>
            <div class="col-sm-2">
                <img src="assets/img/client2.png" alt="">
            </div>
            <div class="col-sm-2">
                <img src="assets/img/client4.png" alt="">
            </div>
            <div class="col-sm-2">
                <img src="assets/img/client5.png" alt="">
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</div>
<!--/.G-->