<div id="edu">
    <div class="container">
        <div class="row centered">
            <h2>Education</h2>
            <!--/col-md-8-->
        </div>
        <div class="row centered">
            <div class="col-md-12 ">
                <p><b> Master of Science in Computer Science, &nbsp; February, 2017</b></p>
                Maharishi University of Management, Fairfield, Iowa, USA
                <hr>
            </div>
        </div>
        <div class="row centered">
            <div class="col-md-12 ">
                <p><b> B.Sc. (Information Technology), &nbsp; April, 2008</b></p>
                University of Mumbai, Mumbai, Maharashtra, India
                <hr>
            </div>
        </div>
        <div class="row centered">
            <div class="col-md-12 ">
                <p><b> Additional Professional Development</b></p>

                    Sun Certified Java Programmer, SE 6<br>
                    Oracle Certified Professional: Web Component Developer, 5.0<br>
                    Six Sigma Green Belt Certification <br>
                    JP Morgan Technology University Graduate<br>
                    JP Morgan Java L1 Certified<br>
                    Patni Java L1 Certified<br>
                <hr>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/.container-->
    <!-- portfolio container -->
    <!--/container-->
</div>
<!--/.G-->